.app-sidebar{
  height:100vh;
  --tw-bg-opacity: 0.9;
  --tw-border-opacity:1;
  overflow-x: hidden;
  background-color: rgba(var(--color-bg-sidebar),var(--tw-bg-opacity));
  border-color: rgba(var(--color-border),var(--tw-border-opacity));
}

.Canny_BadgeContainer .Canny_Badge {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 10px;
  background-color: red;
  padding: 5px;
  border: 1px solid white;
}
