.chat-header {
  right: 0;
  top: 0;
  z-index: 2;
  -webkit-app-region: drag;
}
.message {
  text-align: left;
  font-family: Barlow, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB,
  Roboto, helvetica neue, helvetica, segoe ui, Arial, sans-serif;
}
[data-theme='dark'] .message:not(.hljs *):not(.think):not(.think *){
  color: #d6d6d6;
}
.message .font-lg{
  font-size:16px;
  * {
    font-size: 16px;
    line-height: 2;
  }
  code,pre {
    font-size: 14px;
    * {
      font-size: 14px;
    }
  }
}
.message hr{
  margin-bottom:8px;
  height: 0.5px;
  background-color: rgba(var(--color-border));
  border: none;
}
.message .avatar {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}
.message p:not(:first-of-type) {
  margin-top: 12px;
}

.message p {
  margin-bottom: 3px;
  line-height: 1.8;
}

.message ul{
  margin-bottom: 12px;
}
.message-cited-files{
  margin-left: 40px;
}
.message-toolbar {
  margin-left: 40px;
  margin-top: 7px;
  margin-bottom: 10px;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-bg-sidebar), var(--tw-bg-opacity));
  visibility: hidden;
}
.message:hover .message-toolbar {
  visibility: visible;
}
.message a{
  text-decoration: underline;
}
.message li{
  padding:2px 0;
}
.msg-prompt .avatar {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.msg-reply .avatar {
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}
.msg-reply ul, .msg-reply ol{
  margin-bottom:15px;
}

.editor {
  height: 100%;
}
.editor img{
  width:300px;
}
[data-theme='dark'] .editor{
  color: #d6d6d6;
}
.editor-loading-mask {
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  --tw-bg-opacity: 0.8;
  background-color: rgba(var(--color-bg-surface-2), var(--tw-bg-opacity));
}
.editor-toolbar {
  .fui-Button__icon {
    margin-right: 0!important;
    margin-left:0!important;
  }
  button{
    font-family: Barlow;
  }
}
.ellipsis-loader {
  font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, '微软雅黑', helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, Arial, sans-serif;
}
.ellipsis-loader:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 600ms infinite;
  animation: ellipsis steps(4, end) 600ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.blinking-cursor {
  -webkit-animation: .6s blink infinite;
  animation: .6s blink infinite;
  transform: scale(1);
  display: inline-block;
  width:14px;
  height:14px;
  border-radius: 14px;
  margin-left: 5px;
  margin-bottom: -3px;
  background-color: rgba(var(--color-text-secondary), 1);
}

@keyframes blink {
  from, to {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.2);
  }
}

@-webkit-keyframes blink {
  from, to {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.2);
  }
}

div.think{
 color: rgba(var(--color-text-info), 0.7);
 border-radius: 4px;
 font-size:13px;
 margin-bottom: 8px;
}
[data-theme='dark'] div.think{
  color: #999;
}
div.think-header{
  padding:4px 0;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}
div.think-header > div{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.collapsed .think-header{
  border-bottom:none;
}
div.think-body{
  padding: 8px;
  border-left: 1px solid rgba(var(--color-border), 1);
  p:not(:last-child){
    margin-bottom: 10px;
  }
}
[data-theme='dark'] div.think-body{
  border-left: 1px solid rgba(60,60,60, 1);
}
.is-loading .icon-show,
.is-loading .icon-hide{
  display:none;
}


.right-sidebar{
  height:100vh;
  --tw-bg-opacity: 0.9;
  --tw-border-opacity:1;
  background-color: rgba(var(--color-bg-sidebar),var(--tw-bg-opacity));
  border-color: rgba(var(--color-border),var(--tw-border-opacity));
}
