[data-theme='light'] {
  --color-bg-base: 255, 255, 255;
  --color-bg-surface-1: 255, 255, 255;
  --color-bg-surface-2: 243, 244, 246;
  --color-bg-surface-3: 220, 220, 220;
  --color-border: 224, 224, 224;
  --color-bg-sidebar: 238, 236, 235;
  --color-accent: 63, 118, 255;
  --color-text-base: 3, 7, 18;
  --color-text-secondary: 55, 65, 81;
  --color-text-success: 61, 125, 63;
  --color-text-warning: 217, 137, 38;
  --color-text-danger: 198, 71, 78;
  --color-text-info: 102, 109, 117;
  color-scheme: light;
}

[data-theme='light-contrast'] {
  --color-bg-base: 250, 250, 250;
  --color-bg-surface-1: 250, 250, 250;
  --color-bg-surface-2: 206, 212, 218;
  --color-border: 0, 0, 0;
  --color-bg-sidebar: 255, 255, 255;
  --color-accent: 63, 118, 255;
  --color-text-base: 0, 0, 0;
  --color-text-secondary: 0, 0, 0;
  --color-text-success: 61, 125, 63;
  --color-text-warning: 217, 137, 38;
  --color-text-danger: 198, 71, 78;
  --color-text-info: 102, 109, 117;
  color-scheme: light;
}

[data-theme='dark'] {
  --color-bg-base: 25, 27, 27;
  --color-bg-surface-1: 46, 46, 46;
  --color-bg-surface-2: 48, 49, 52;
  --color-bg-surface-3: 49, 54, 58;
  --color-border: 36, 36, 36;
  --color-bg-sidebar: 44, 42, 43;
  --color-accent: 60, 133, 217;
  --color-text-base: 200, 214, 222;
  --color-text-secondary: 142, 148, 146;
  --color-text-success: 67, 132, 64;
  --color-text-warning: 230, 165, 42;
  --color-text-danger: 231, 121, 117;
  --color-text-info: 126, 133, 143;
  color-scheme: dark;
}

[data-theme='dark-contrast'] {
  --color-bg-base: 25, 27, 27;
  --color-bg-surface-1: 31, 32, 35;
  --color-bg-surface-2: 39, 42, 45;
  --color-border: 255, 255, 255;
  --color-bg-sidebar: 19, 20, 22;
  --color-accent: 60, 133, 217;
  --color-text-base: 255, 255, 255;
  --color-text-secondary: 142, 148, 146;
  --color-text-success: 67, 132, 64;
  --color-text-warning: 230, 165, 42;
  --color-text-danger: 231, 121, 117;
  --color-text-info: 126, 133, 143;
  color-scheme: dark;
}
